*{
    font-family: font;
    src: url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
}
.carousel-caption{
    bottom : 240px;
    z-index: 2;
}
.carousel-caption h5{
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 25px;
}
.carousel-caption p{
    margin: auto;
    font-size: 18px;
    line-height: 1, 9;
}
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}